.profile__avatar-container {
    position: relative;
    height: 120px;
    width: 120px;

}



.profile__avatar-container:hover::before {
    content: '';
    background: url('../../../images/pen.svg') no-repeat;
    position: absolute;
    top: 47px;
    left: 47px;
    width: 26px;
    height: 26px;
    display: block;

}